# If you want electrum to appear in a linux app launcher ("start menu"), install this by doing:
# sudo desktop-file-install electrum-xvg-tor.desktop

[Desktop Entry]
Comment=Lightweight CrypricCoin Tor Client
Exec=/usr/bin/electrum-cryp/electrum-xvg
GenericName[en_US]=Electrum-CRYP-Tor
GenericName=Electrum-CRYP
Icon=electrum
Name[en_US]=Electrum CrypricCoin Tor Wallet
Name=Electrum CrypricCoin Wallet
Categories=Network;
StartupNotify=false
Terminal=false
Type=Application
MimeType=x-scheme-handler/CrypricCoin;

