# If you want electrum to appear in a linux app launcher ("start menu"), install this by doing:
# sudo desktop-file-install electrum-xvg-tor.desktop

[Desktop Entry]
Comment=Lightweight CrypticCoin Tor Client
Exec=/usr/bin/electrum-cryp-0.1.1/electrum-xvg
GenericName[en_US]=Electrum-CRYP-Tor
GenericName=Electrum-CRYP
Icon=/usr/bin/electrum-cryp-0.1.1/electrum.ico
Name[en_US]=Electrum CrypticCoin Tor Wallet
Name=Electrum CrypticCoin Wallet
Categories=Network;
StartupNotify=false
Terminal=false
Type=Application
MimeType=x-scheme-handler/CrypticCoin;

